body{
    background-image: url("background.jpg");
    width: 100%;
    height: 100;
}
.center{
    text-align: center;
}
.radius{
    border-radius: 3px;
}
.backleftrectangle{
    border:  0.35vw solid rgb(92, 9, 9);
    display: table;
    height: 34.4vw;
    margin-left:20vw;
    width:30vw;
}
.backrightrectangle{
    box-shadow: -0 0.35vw  rgb(92, 9, 9);
    height: 31.1vw;
    width:30vw;
}
.red{
    background-color:rgb(167, 24, 24);
}
.margintop{
    margin-top: 8.9vw;
}
.margintopright{
    margin-top: 12.4vw;
}
.flex{
    display: flex;
    flex-direction: row;
}
.bigradius{
    border-radius: 1vw;
}
.bigradiusright{
    border-radius: 0vw 1vw 1vw 0vw;
}
.blackborder{
    background-color: white;
    margin-top: 2vw;
    border:  0.25vw solid black;
    margin-left:2.7vw;
    height: 10.4vw;
    width:14vw;
    position: absolute;
    box-shadow: inset 0.3em 0.3em 1.5em black;
}
.middlerectangle{
    border: 0.1vw solid #3a0101;
    box-shadow: -0 0.35vw  rgb(92, 9, 9);
    width:5vw;
    height: 34.4vw;
    position: absolute;
    margin-left:47vw;
    background: -webkit-linear-gradient(left, #7e0202 0%, #9c0b0b 50%, #660000 100%);
}
.collum{
    flex-direction: column;
}
.firstrayon{
    margin-top: 1vw;
    border-top: 3px solid rgb(92, 9, 9);
    border-bottom: 3px solid rgb(92, 9, 9);
    width:5vw;
    height: 4vw;
    position: absolute;
    background: -webkit-linear-gradient(left, #500202 0%, #6d0808 50%, #3a0101 100%);
}
.secondrayon{
    margin-top: 29.5vw;
    border-top: 3px solid rgb(92, 9, 9);
    border-bottom: 3px solid rgb(92, 9, 9);
    width:5vw;
    height: 4vw;
    position: absolute;
    background: -webkit-linear-gradient(left, #500202 0%, #6d0808 50%, #3a0101 100%);
}
.greyscreen{
      border: 0.2vw solid black;
    margin-left:4vw;
    width:20vw;
    height: 18vw;
    position: absolute;
    background-color: #D2D6CB;
}
.cross {
    
    position: relative;
    top: 30vw;
    left: 17vw;
}
.dimcross {
    width: 2vw;
    height: 2vw;
    position: absolute;
}
.colorcross{

    background-color: #222;
}
.topcross{
    
    bottom: 0vw;
    left: 2vw;
}
.botcross{
    bottom: -4vw;
    left: 2vw;
}
.rightcross{
    left: 4vw;
}
.centercross{
    left: 2vw;
}
.left {
    border-top: 0.65vw solid transparent;
    border-right: 0.65vw solid #111;
    border-bottom: 0.65vw solid transparent;
    position: absolute;
    top: 0.4vw;
    left: 0.5vw;
}
.top {
    border-left: 0.65vw solid transparent;
    border-bottom:  0.65vw solid #111;
    border-right:  0.65vw solid transparent;
    position: absolute;
    top: 0.7vw;
    left: 0.4vw;
}
.bot {
    
    border-left: 0.65vw solid transparent;
    border-top:  0.65vw solid #111;
    border-right:  0.65vw solid transparent;
    position: absolute;
    top: 0.7vw;
    left: 0.4vw;
}
.right {
    border-bottom: 0.65vw solid transparent;
    border-left:  0.65vw solid #111;
    border-top:  0.65vw solid transparent;
    position: absolute;
    top: 0.4vw;
    left: 0.7vw;
}
.screen{
    margin-top: 14%;
    margin-left: 18%;
    width: 20vw;
    height: 9vw;
    background-color: #A6AD97;
    box-shadow: inset 0.3em 0.3em 1.5em black;
    border: 0.2vw solid black;
}
div.sp {
    height: 0.16vw;
    margin-bottom:  0.33828125vw;
    background-color: #494949;
}
.speakers {
    position: relative;
    margin-top:14vw;
    margin-left:12vw;
    width: 4.5vw;
    height: 1.7vw;
}
.cerclebottom{
    border: 0.2vw solid black;
    border-radius:10000px;
    height:2vw;
    width: 2vw;
    position: absolute;
    margin-top:14vw;
    margin-left:4vw;
}
.cercleleft{
    border: 0.2vw solid black;
    border-radius:10000px;
    height:1vw;
    width: 1vw;
    position: absolute;
    margin-left:8vw;
}
.cercleright{
    border: 0.2vw solid black;
    border-radius:10000px;
    height:1vw;
    width: 1vw;
    position: absolute;
    margin-left:10vw;
}
.buttonGlass {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 5px solid #fff;
    position: absolute;
    box-shadow: 0 0 10px #490000;
    -webkit-box-shadow: 0 0 10px #490000;
    -moz-box-shadow: 0 0 10px #490000;
    -o-box-shadow: 0 0 10px #490000;
    background: radial-gradient(#05fbfb, #29abe3);
    background: -webkit-radial-gradient(#05fbfb, #29abe3);
    background: -moz-radial-gradient(#05fbfb, #29abe3);
    background: -o-radial-gradient(#05fbfb, #29abe3);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -o-border-radius: 35px;
}
div.blueButton {
    height: 3vw;
    width: 3.78vw;
    background: radial-gradient(#05fbfb, #29abe3);
    background: -webkit-radial-gradient(#05fbfb, #29abe3);
    background: -moz-radial-gradient(#05fbfb, #29abe3);
    background: -o-radial-gradient(#05fbfb, #29abe3);
    border:0.15vw solid black;
}
div.whiteButton {
    height: 3vw;
    width: 3.78vw;
    background: radial-gradient(#ebffff, #bacfd8);
    background: -webkit-radial-gradient(#ebffff, #bacfd8);
    background: -moz-radial-gradient(#ebffff, #bacfd8);
    background: -o-radial-gradient(#ebffff, #bacfd8);
    border:0.15vw solid black;
}
.button {
    position: relative;
}
.row{ 
    margin-left:5.4vw;
    flex-direction: row;
}
.topo{
    margin-top:2vw;
}
